<div class="login-container">
    <div class="login-box">
            <div class="top-img">
                <div class="text-center w-100"><img src="../../assets/images/login-main-logo.svg" alt=""></div>
            </div>
        <div class="login-content">
            <p class="main-title">Forgot password?</p>
            <p class="sub-title">We’ll send you reset instructions.</p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>example@email.com</mat-label>
                <input matInput placeholder="" value="">
            </mat-form-field>
            <button class="login-btn" matRipple >Reset Password</button>
            <p [routerLink]="['/login']" class="back-to">&#60; Back to log in</p>
        </div>
    </div>
</div>